<head>
    <meta charset="utf-8">
    <title>RIA Assignment One</title>
    <link rel="stylesheet" href="login-page.component.css">
</head>
<body>
    <div class="top-section">
        <app-header></app-header>
    <div class="main-container">
        <h1>Login below!</h1>
        <div class="main-form">
            <div class="applicantForm">
                        <form>
                            <input type="text" placeholder="username" id="username" required/>
                            <p></p>
                            <input type="text" placeholder="password" id="password" required/>
                            <p></p>
                            <hr>
                            <button type="submit" class="getStartedBTN1" value="Submit">Login</button>
                        </form>
                        <a href="/main" class="getStartedBTN2">skip</a>
                    </div>
        </div>
        
    </div><!--Main-Container ends here-->
</div>
    <footer>
        <app-footer></app-footer>
    </footer>
</body>