p{
    padding-top:25px;
    color:black;
    font-size:16px;
    font-weight:400;
    line-height: 1.5em;
    font-family:"Calibri", sans-serif;
}
header {
    height:70px;
    background-color: rgba(211, 211, 211, 0.6);
}

#header-container{
    width:80%;
    margin:auto;
}
.col-3 {
    width:32%;
    float: left;
}

.getStartedBTN {
    background-color: #7393B3;
    border-radius: 10px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    text-decoration:none;
    color:#ffffff;
    padding: 5px 5px;
    margin: 20px 5px;
    font-size:15px;
    float: right;
}