<head>
    <meta charset="utf-8">
    <title>RIA Assignment One</title>
    <link rel="stylesheet" href="launch-page.component.css">
</head>
<body>
    <div class="top-section">
        <app-header></app-header>
    <div class="main-container">
        <div id="top-section-main">
                <h1>Welcome to JobSeek!</h1>
                <p>Looking for a job? You're at the right place. JobSeek utilizes the most updated technologies and real-time data to deliver curated job opportunities for all users.</p>
                
                <img class="play-button" src="assets/rialogo.jpeg" alt="RIA Logo">
        </div>
    </div><!--Main-Container ends here-->
    <router-outlet></router-outlet>
</div>
    <footer>
        <app-footer></app-footer>
    </footer>
</body>