<head>
    <meta charset="utf-8">
    <title>RIA Assignment One</title>
    <link rel="stylesheet" href="main-page.component.css">
</head>
<body>
    <div class="top-section">
    <div class="main-container">
        <div id="top-section-main">
                <h1>Looking for a Job?</h1>
                <p>There's no better place to start.</p>
                
                <button type="submit" class="getStartedBTN1" onclick="displayJobs()" value="Submit">Find Jobs</button>
                <a routerLink="/jobs" class="getStartedBTN1">See Jobs</a>
        </div>
        <a href="/applicants" class="getStartedBTN2">see applicant list</a>
    </div><!--Main-Container ends here-->
</div>
</body>