<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
	</head>
		<meta charset="UTF-8">
		<title>Home Page</title>
	</head>

	<body>
	<p> </p>
	<button onclick="location.href='http://localhost:8080/login/'" type="button">
         Login</button>
	<p> </p>
	<button onclick="location.href='http://localhost:8080/applicantForm/'" type="button">
         Create Applicant Account</button>
	<p> </p>
	<button onclick="location.href='http://localhost:8080/companyForm/'" type="button">
         Create Company Account</button>
	</body>
</html>