<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
	</head>
		<meta charset="UTF-8">
		<title>Main Page</title>
	</head>

	<body>
	<p> </p>
	Welcome to the main page. Thank you for logging in!
	<p> </p>
	<button onclick="location.href='http://localhost:8080/profile/'" type="button">
         Your Profile</button>
    <button onclick="location.href='http://localhost:8080/jobForm/'" type="button">
         Post a job opening</button>
    <button onclick="location.href='http://localhost:8080/jobs/'" type="button">
         Find jobs</button>
	</body>
</html>